{
    "branches": [
        "main"
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "echo \"${nextRelease.version}\" > version"
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "./CHANGELOG.md",
                    "version"
                ]
            }
        ]
    ],
    "tagFormat": "release-${version}",
    "repositoryUrl": "https://github.com/sradc/semvar-test"
}